<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}University Tournament Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

    <div class="container">

    <h1>MATCHPOINT</h1>
    <h2>University Tournament Hub</h2>
    <h3>{% block page_title %}{% endblock %}</h3>
    <hr style="border-color:#222;">
    {% block content %}{% endblock %}
</div>
</body>
</html>