{% extends "base.html" %}
{% block title %}Create Tournament{% endblock %}
{% block page_title %}Create Tournament{% endblock %}
{% block content %}

<body>
<form method="POST">
    Tournament Name:<br>
    <input type="text" name="name" required><br>

    Game Name:<br>
    <input type="text" name="game" required><br>

    Start Date:<br>
    <input type="date" name="start_date"><br>

    End Date:<br>
    <input type="date" name="end_date"><br>

    <div class="btn-center">
        <button type="submit">Create</button>
    </div>
</form>

<a href="/admin">Back</a>

</body>
</html>
{% endblock %}